$open-sans: 'Open Sans', sans-serif;

h1 {
  font-size: 28px;
  font-family: $open-sans;
}

h2 {
  font-size: 24px;
  font-family: $open-sans;
}

h3 {
  font-size: 20px;
  font-family: $open-sans;
}

p {
  font-size: 14px;
  font-family: $open-sans;
}

.section__right-text {
  text-align: center;
  margin-top: 150px;
}

.section__left-text {
  margin-right: 20px;
  border: solid 3px $black;
  height: 500px;
  position: absolute;
  top: 130px;
  left: 100px;
  padding-top: 20px;
}

.col-right-text {
  text-align: center;
  margin-top: 470px;
}

.nav__letter-L {
  font-size: 50px;
  padding-top: 15px;
  text-align: center;
}

.hero__text {
  position: absolute;
  bottom: 300px;
  left: 650px;
}

.nav__L {
  border: $border;
  height: 3em;
  text-align: center;
  padding-top: 0.5em;
}

.nav__ops-text {
  padding-left: 2em;
  display: inline;

}

.img__text {
  font-size: 80px;
}
