

.section__left {
  margin-right: 20px;
  border: solid 3px $black;
  height: 300px;
  position: absolute;
  top: 130px;
  left: 100px;
}

.section__right {
  margin-right: 100px;
  border: solid 3px $black;
  height: 300px;
  width: 973px;
  position: absolute;
  top: 130px;
  left: 358px;
}
