.section__left {
  margin-right: 20px;
  border: solid 3px $black;
  height: 300px;
  position: absolute;
  top: 130px;
  left: 100px;
  padding-top: 20px;
}

.section__right {
  margin-right: 100px;
  border: solid 3px $black;
  height: 300px;
  width: 850px;
  position: absolute;
  top: 130px;
  left: 480px;
}

.section__right-text {
  text-align: center;
  margin-top: 150px;
}

.section__left-text {
  margin-right: 20px;
  border: solid 3px $black;
  height: 500px;
  position: absolute;
  top: 130px;
  left: 100px;
  padding-top: 20px;
}

.section__right-two {
  margin-right: 100px;
  border: solid 3px $black;
  height: 120px;
  width: 850px;
  position: absolute;
  top: 130px;
  left: 480px;
}
.section__right-three {
  margin-right: 100px;
  border: solid 3px $black;
  height: 120px;
  width: 850px;
  position: absolute;
  top: 260px;
  left: 480px;
}

.section__right-four {
  margin-right: 100px;
  border: solid 3px $black;
  height: 120px;
  width: 850px;
  position: absolute;
  top: 390px;
  left: 480px;
}

.buttons {
    position: relative;
    top: 380px;
    margin-right: 100px;
    margin-top: 20px;
    height: 100px;
    width: 850px;
}

.buttons__one {
  position: absolute;
  border: solid 3px $black;
  height: 105px;
  width: 370px;
  left: 2px;
  top: -5px;
}

.buttons__two {
  position: absolute;
  border: solid 3px $black;
  height: 105px;
  width: 80px;
  left: 388px;
  top: -5px;
}

.buttons__three {
  position: absolute;
  border: solid 3px $black;
  height: 105px;
  width: 370px;
  left: 484px;
  top: -5px;
}
